
.a,
.b {
    display: inline-block;
    font-family: Futura;
}

.a {
    width: 63px;
    padding-left: 3px;
    font-family: Futura;
}

.header .cell {
    float: left;
    font-family: Futura;

}

.cell {
    display: inline-block;
    width: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
}

#wrapper {
    clear: both;
}

.row.active .cell {
    background: gold;
}

.cell:nth-child(4) {
    margin-left: 20px;
}

.box {
    display: flex;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: left;
    font-family: Futura;
    font-size: 20px;
    position: relative;
    top: 230px;

}

.sub {
    text-align: left;
    font-family: Futura;
    font-size: 10px;
    flex-direction: column;


}

.video {
    
    margin-top: 104px;
}

.row-num {
    width: 115px;
}

.playback-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}